
body {
    margin: 0;
    background-color: #000;
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.nameweb {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameweb h1 {
    display: block;
    margin: 0;
    padding: 0;
    color: white;
    font-size: clamp(40px, 6vw, 140px);
    text-align: center;
    line-height: 1.1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3vh;
    padding-top: 3vh;
    padding-right: 7vh;
    width: 100%;
}

.container .banner {
    width: 70vw;
    height: 45vh;
    max-height: 500px;
    min-height: 30vh;
    border-radius: 20px;
    object-fit: cover;
}

.circlewrapper {
    display: flex;
    gap: 0.8vw;
    margin-top: 1.5vh;
    justify-content: center;
}

.circle {
    width: clamp(6px, 1vw, 12px);
    height: clamp(6px, 1vw, 12px);
    border-radius: 50%;
    background-color: gray;
}

.text {
    font-size: clamp(18px, 4vw, 40px);
    color: white;
    text-align: center;
    margin-top: 5vh;
}

.moviepicturewrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
    margin-top: 2vh;
}

.moviepicture {
    margin-top: 5vh;
    width: clamp(120px, 15vw, 250px);
    height: auto;
}

.footerbox {
    margin-top: 10vh;
    width: 100%;
    height: 64px;
    background: rgba(35, 35, 35, 0.8);
}


@media (max-width: 1024px) and (min-width: 481px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    .nameweb h1 {
        font-size: clamp(50px, 10vw, 90px);
        text-align: center;
        white-space: nowrap;
        margin-bottom: 2vh;
    }

    .container .banner {
        width: 90vw;
        aspect-ratio: 16 / 9;
        height: auto;
        max-height: 320px; 
    }
    
    .h1break {
        display: none;
    }
}

@media (max-width: 480px) {

    .nameweb h1 {
        padding-left: 0;
        white-space: nowrap;
        padding-bottom: 3vh;
    }  

    .container {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    .container .banner {
        width: 90vw;
        height: 30vh;
        border-radius: 15px;
    }

    .text {
        margin-top: 2vh;
    }

    .moviepicturewrapper {
        gap: 5vw;
    }

    .moviepicture {
        width: 40vw;
    }

    .circlewrapper {
        padding-left: 0;
        margin-top: 1vh;
    }

    .h1break {
        display: none;
    }
}
