
body {
    margin: 0;
    background-color: black;
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.nameweb {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameweb h1 {
    display: block;
    margin: 0;
    padding: 0;
    color: white;
    font-size: clamp(40px, 6vw, 140px);
    text-align: center;
    line-height: 1.1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5vh; 
    padding-right: 7vh; 
    width: 100%;
}

.container .banner {
    width: 70vw;
    aspect-ratio: 3 / 1;
    border-radius: 20px;
    object-fit: cover;
}

.text {
    font-size: clamp(18px, 4vw, 40px);
    color: white;
    text-align: center;
    padding-top: clamp(50px, 5vh, 100px);
}

.moviecardwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
    margin-top: 2vh;
    height: 100%;
}

.moviecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(120px, 15vw, 200px);
    margin-bottom: 50px;
}

.moviecard img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    display: block;
}

.movietitle {
    font-size: 0.8em;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    text-align: center;
    padding-left: 0;
    color: lightgrey;
    transition: color 0.2s;
    font-weight: normal;
}

/* .footerbox {
    margin-top: 10vh;
    width: 100%;
    height: 64px;
    background: rgba(35, 35, 35, 0.8);
} */

@media (max-width: 1023px) and (min-width: 481px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    .nameweb h1 {
        font-size: clamp(50px, 10vw, 90px);
        text-align: center;
        white-space: nowrap;
        margin-bottom: 2vh;
    }

    .container .banner {
        width: 90vw;
        aspect-ratio: 16 / 9;
        height: auto;
        max-height: 320px; 
    }
    
    .h1break {
        display: none;
    }
}

@media (max-width: 480px) {

    .nameweb h1 {
        padding-left: 0;
        white-space: nowrap;
        padding-bottom: 3vh;
    }  

    .container {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    .container .banner {
        width: 90vw;
        height: 30vh;
        border-radius: 15px;
    }

    .text {
        margin-top: 2vh;
    }

    .moviecardwrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 4vh;
    }

    .moviecardwrapper img {
        width: 80vw;
        max-width: 150px;
    }

    .h1break {
        display: none;
    }
}