.successbox {
    color: white;
    padding: 10px;
    background: green;
    margin-bottom: 10px;
    border-radius: 5px;
}

.errorbox {
    color: white;
    padding: 10px;
    background: red;
    margin-bottom: 10px;
    border-radius: 5px;
}