body{
    background-color: black;
    }
body::-webkit-scrollbar {
    display: none;
}
.container p{
    display: block;
    color: white;
    font-size: clamp(30px, 6vw, 90px);
    font-weight: normal;
}
.container img{
    display: block;
}
.moviepicture{
    width: 55vh;
    height: 75vh;
    padding-top: 6vh;
    padding-left: 10vh;
}
.container{
    display: flex;
    align-items: stretch;
}
.textcontainer{
    display: block;
    color: white;
    padding-left: 6vh;
    font-size: clamp(30px, 6vw, 30px);
}
.texttitle{
    margin-top: 5vh;
    padding:0;
}
.ratingstext{
    padding-top: 30vh;
}
.ratingswrap .imgstar{
    padding: 0;
    padding-top: 0.5vh;
    margin: 0;
    width: 6vh;
    height: 6vh;
}
.ratingswrap{
    display:flex;
}
.footerbox {
    margin-top: 11.1vh;
    width: 100%;
    height: 64px;
    background: rgba(35, 35, 35, 0.8);
}
.addtocartbutton{
    width: 42vh;
    height: 64px;
    margin-left: 75vh;
    background-color: #0075FF;
    font-size: clamp(26px, 6vw, 26px);
    color: white;
    cursor: pointer;
    border-radius: 1vh;
    position: relative;
    top: -5.7vh;
}
@media (max-width: 1024px) and (min-width: 481px) {
    .container{
        flex-direction: column;
        align-items: center;
    }

    .moviepicture{
        margin-top: 3vh;
        width: 30vh;
        height: auto;
    }
    .textcontainer{
        margin-top: 0;
        padding: 0 4vh;
        padding-left: 4vh;
        width: 100%;
        display: block;
        text-align: left;
    }
    .textcontainer .texttitle{
        font-size: clamp(30px, 6vw, 30px);
        text-align: left;

    }
    .textcontainer .moviedes{
        padding-top: 3vh;
        font-size: clamp(18px, 6vw, 18px);
        text-align: left;

    }
    .ratingstext{
        padding-top: 20vh;
        font-size: clamp(18px, 6vw, 18px);

    }
    .ratingswrap{
        padding-left: 4vh;
        display: flex;
    }
    .ratingswrap .imgstar{
        width: 4vh;
        height: 4vh;
    }
    .addtocartbutton{
        position: relative;
        width: 40vh;
        height: 40px;
        float: right;
        margin: 8vh auto 0 auto;
        font-size: clamp(18px, 6vw, 18px);
        top: -12vh;
    }
    .footerbox {
        margin-top: -7.5vh;
    }
}
@media (max-width: 480px) {
    
    .container{
        flex-direction: column;
        align-items: center;
    }

    .moviepicture{
        margin-top: 3vh;
        width: 30vh;
        height: auto;
        padding: 0 4vh;
    }
    .textcontainer{
        margin-top: 0;
        padding: 0 4vh;
        padding-left: 4vh;
        width: 100%;
        display: block;
        text-align: left;
    }
    .textcontainer .texttitle{
        font-size: clamp(30px, 6vw, 30px);
        text-align: left;

    }
    .textcontainer .moviedes{
        padding-top: 3vh;
        font-size: clamp(18px, 6vw, 18px);
        text-align: left;

    }
    .ratingstext{
        padding-top: 20vh;
        font-size: clamp(18px, 6vw, 18px);

    }
    .ratingswrap{
        display: flex;
    }
    .ratingswrap .imgstar{

        width: 4vh;
        height: 4vh;
    }
    .addtocartbutton{
        position: relative;
        width: 40vh;
        height: 40px;
        margin: 8vh auto 0 auto;
        font-size: clamp(18px, 6vw, 18px);
    }
    .footerbox {
        margin-top: 0vh;
    }
}