body {
    margin: 0;
    background-color: #000;
    font-family: 'Inter', sans-serif;
}

header p {
    color: white;
    font-size: 50px;
    font-weight: normal;
    margin-left: 20vh;
}

.containner-white {
    display: flex;
    background-color: white;
    color: black;
    width: 140vh;
    height: 60vh;
    margin: 0 auto;
}

.containner-white p {
    display: flex;
    margin-left: 2vh;
    margin-top: 2.5vh;
    font-size: 50px;
}

.containner-black {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 45vh;
    height: 55vh;
    margin-left: 2vh;
    margin-top: 2.5vh;
}

.payment-option {
    margin-left: 2vh;
    margin-top: -3vh;
}

.containner-pic img {
    position: relative;
    width: 8vh;
    height: auto;
    margin-top: -3vh;
    padding-left: 1vh;
}

.groupheader {
    display: flex;
    align-items: center;
    gap: 8vh;
}

.hidden {
    display: none;
}

h1 {
    font-weight: normal;
    font-size: 30px;
}

#truemoney-form {
    margin-left: 2vh;
}

.summit {
    background-color: #1BB66E;
    color: black;
    width: 20vh;
    height: 5vh;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2vh;
    border-radius: 30px;
    border: solid white;
}

.edit {
    background-color: #DFDFDF;
    color: black;
    width: 20vh;
    height: 5vh;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2vh;
    border-radius: 30px;
    border: solid white;
}

.button-group {
    display: flex;
    gap: 2vh;
    justify-content: flex-end;
    margin-left: 2vh;
}

#tel-number {
    background-color: white;
    border-radius: 10px;
    border: solid #CFCFCF 0.1px;
    color: black;
    width: 30vh;
    height: 5vh;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
}

#checkterm {
    cursor: pointer;
    margin-top: 30%;
}

.containner-black-group {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 2vh;
}

.textcontainnerblack {
    text-align: right;
    padding-left: 5.5vh;
    line-height: 2vh;
    padding-top: 0vh;
}

.containner-black .textcontainnerblack {
    font-size: 50px;
}

.containner-black .textcontainnerblack2 {
    font-size: 40px;
    padding-right: 4vh;
    line-height: 2vh;
    padding-top: 0vh;
    display: inline-block;
}

.containner-black .text-term-black {
    font-size: 15px;
    text-align: right;
    padding-top: 30vh;
    padding-left: 10.5vh;
}

.imgqr {
    width: 50vh;
    align-items: center;
    margin-left: 22.5%;
}

#checkterm2 {
    cursor: pointer;
    margin-top: 1%;
    margin-left: 2vh;
}

#checkterm3 {
    cursor: pointer;
    margin-top: 9.5%;
    margin-left: 2vh;
}

#tel-number2 {
    background-image: url("IMAGES/credit-card.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px center;
    padding-left: 40px;
    background-color: white;
    border-radius: 10px;
    border: solid #CFCFCF 0.1px;
    color: black;
    width: 40vh;
    height: 5vh;
    font-size: 15px;
    cursor: pointer;
    text-align: left;
    transform: translateY(30%);
    margin-left: 3.5vh;
}

#tel-number3 {
    background-color: white;
    border-radius: 10px;
    border: solid #CFCFCF 0.1px;
    color: black;
    width: 40vh;
    height: 5vh;
    font-size: 15px;
    cursor: pointer;
    text-align: left;
    transform: translateY(30%);
    margin-left: 6.9vh;
}

#tel-number4,
#tel-number5,
#tel-number6 {
    background-color: white;
    border-radius: 10px;
    border: solid #CFCFCF 0.1px;
    color: black;
    width: 5vh;
    height: 5vh;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    transform: translateY(30%);
}

#tel-number4 {
    margin-left: 8vh;
}

#tel-number5 {
    margin-left: 3vh;
}

#tel-number6 {
    margin-left: 0vh;
}

.small-text2 {
    font-size: 30px;
}

.very-small-text2 {
    font-weight: normal;
    color: #5E5E5E;
    font-size: 1.5vh;
}

.group1 h1 {
    margin: 2vh 0 0 2vh;
    display: flex;
    align-items: center;
    gap: 2vh;
}

.group1 h2 {
    margin: 0 0 0 2vh;
}

.exp-group {
    display: flex;
    align-items: center;
    gap: 1vh;
    margin-left: 2vh;
}

.slash {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 5vh;
    margin-left: 14.8vh;
    margin-top: 3vh;
}

.biggroup-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 2vh;
}

.footerbox {
    margin-top: 9.7vh;
    width: 100%;
    height: 64px;
    background: rgba(35, 35, 35, 0.8);
}


@media (max-width: 1024px) and (min-width: 481px) {

    header p {
        font-size: 35px;
        margin-left: 4vh;
    }

    .containner-white {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .containner-black {
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 2vh;
        padding: 1vh 0;
    }

    .containner-black .textcontainnerblack {
        font-size: 50px;
        text-align: right;
        margin-right: 2vh;
        display: block;
    }

    .containner-black .textcontainnerblack2 {
        font-size: 40px;
        margin-right: -2vh;
        text-align: right;
    }

    .containner-black .text-term-black {
        font-size: 12px;
        text-align: right;
        padding-top: 1vh;
        transform: translateX(-3vh);
        white-space: nowrap;
        flex-direction: column;
    }

    .groupheader {
        flex-direction: row;
        justify-content: space-between;
        margin: 2vh 0;
        padding: 0 2vh;
    }

    .groupheader p {
        font-size: 32px;
        font-weight: bold;
    }

    .containner-pic img {
        width: 6vh;
        margin: 0;
    }

    .payment-option {
        margin-left: 3vh;
        font-size: 24px;
    }

    #tel-number {
        width: 40%;
        font-size: 20px;
    }

    #tel-number2,
    #tel-number3 {
        width: 40%;
        font-size: 20px;
        transform: translateX(2vh);
    }

    #tel-number4,
    #tel-number5,
    #tel-number6 {
        width: 12%;
        font-size: 20px;
        transform: translateX(2vh);
    }

    .small-text2 {
        font-size: 24px;
        font-weight: bold;
        padding-left: 2vh;
    }

    .small-text {
        font-size: 24px;
        font-weight: bold;
        padding-left: 2vh;
    }

    .very-small-text2 {
        font-size: 14px;
        padding-left: 2vh;
    }

    .slash {
        font-size: 30px;
        margin-left: 16.5vh;
        margin-top: 0vh;
    }

    .imgqr {
        width: 50%;
        display: block;
        margin: 0 auto;
    }

    .button-group {
        justify-content: center;
        gap: 2vh;
        margin-top: 2vh;
    }

    .summit,
    .edit {
        width: 22vh;
        height: 5vh;
        font-size: 18px;
    }

    .footerbox {
        margin-top: 26.5vh;
        width: 100%;
        height: 64px;
        background: rgba(35, 35, 35, 0.8);
    }
}

@media (max-width: 480px) {

    header p {
        font-size: 22px;
        margin-left: 2vh;
    }

    .containner-white {
        flex-direction: column;
        width: 95%;
        height: auto;
    }

    .containner-black {
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 2vh;
        padding: 1vh 0;
    }

    .containner-black .textcontainnerblack {
        font-size: 30px;
        text-align: right;
        margin-right: 2vh;
        display: block;
    }

    .containner-black .textcontainnerblack2 {
        font-size: 20px;
        margin-right: -2vh;
        text-align: right;
    }

    .containner-black .text-term-black {
        font-size: 12px;
        text-align: right;
        padding-top: 1vh;
        transform: translateX(-3vh);
        white-space: nowrap;
        flex-direction: column;
    }

    .groupheader {
        flex-direction: column;
        align-items: flex-start;
        gap: 0vh;
    }

    .groupheader p {
        font-size: 30px;
        font-weight: bold;
    }

    .containner-pic img {
        display: inline-block;
        width: 5vh;
        transform: translateX(26vh);
    }

    .payment-option {
        margin: 0 auto;
        text-align: center;
    }

    .small-text {
        font-size: 20px;
        font-weight: bold;
    }

    #tel-number {
        width: 50%;
        font-size: 16px;
    }

    #tel-number2 {
        width: 50%;
        font-size: 16px;
        transform: translateX(2vh);
        margin-left: 0;
    }

    #tel-number3 {
        width: 50%;
        font-size: 16px;
        transform: translateX(2vh);
        margin-left: 2vh;
    }

    #tel-number4 {
        width: 20%;
        font-size: 14px;
        transform: translateX(2vh);
        margin-left: 2vh;
    }

    #tel-number5 {
        width: 20%;
        font-size: 14px;
        transform: translateX(2vh);
    }

    #tel-number6 {
        width: 20%;
        font-size: 14px;
        transform: translateX(2vh);
    }

    .small-text2 {
        font-size: 15px;
        font-weight: bold;
        display: flex;
    }

    .very-small-text2 {
        font-size: 10px;
    }

    .slash {
        margin-left: 16vh;
        margin-top: 0vh;
        transform: translateX(-5vh);
    }

    .biggroup-row {
        flex-direction: column;
        gap: 2vh;
    }

    .imgqr {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .button-group {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1vh;
        margin: 2vh 0;
    }

    .summit,
    .edit {
        width: 18vh;
        height: 4.5vh;
        font-size: 16px;
    }

    .footerbox {
        margin-top: 29.5vh;
        width: 100%;
        height: 64px;
        background: rgba(35, 35, 35, 0.8);
    }
}
