body {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../IMAGES/loginbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

main {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

main form {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 350px;
    padding: 25px;
    border: 1px solid #333333;
    background-color: black;
    border-radius: 8px;
    box-sizing: border-box;
}

main input {
    width: 100%;
    padding: 15px;
    background-color: #1A1A1A;
    color: white;
    border: 1px solid #333333;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.2s;
}

main input::placeholder {
    color: gray;
    font-family: 'Inter', sans-serif;
}

main input:focus {
    border-color: white;
    outline: none;
}

.submit {
    padding: 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s, color 0.2s;
}

.submit:hover {
    background-color: #CCCCCC;
}

main a {
    color: #AAAAAA;
    text-decoration: none;
    text-align: center;
    font-size: 0.9em;
    margin-top: 5px;
    transition: color 0.2s;
}

main a:hover {
    color: white
}

.errorbox {
    color: red;
    padding: 10px 15px;
    background: black;
    border: 1px solid #440000;
    margin-top: 5px;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    position: absolute;
}
